/* Noah Klein */




/* General footer styles */
.Footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;

    background: linear-gradient(to bottom, var(--dss-orange), var(--dss-red));

    color: white;
    padding: 40px 20px;
    width: 100%;

    box-sizing: border-box;
    margin-top: 4rem;

    font-family: montserrat;

    a {
        text-decoration: none;
        color: var(--dss-orange);
        transition: color 0.5s ease;
    }
}

.Footer a {
    color: white;
}

.Footer a:hover {
    color: black;
}


.Footer .logo {
    position: relative;
    height: 4rem;

    /* This filter hack makes it white */
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(115deg) brightness(102%) contrast(103%);
    transition: filter 0.5s ease;

    user-select: none;
}

.Footer .logo:hover {
    /* This filter hack makes it black */
    filter: brightness(0) saturate(100%) invert(0) sepia(100%) saturate(0%) hue-rotate(115deg) brightness(102%) contrast(103%);
}

.Footer span {
    margin: 0 5px;
}

.Footer .footer-content {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
    justify-content: space-between;
}

.Footer .footer-section {
    flex: 1;
    max-width: none;
}

.Footer.Footer .footer-section.right {
    display: inline-flex;
    justify-content: right;
}


.Footer .footer-section h4 {
    font-weight: 600;
    margin-bottom: 10px;
}

.Footer .footer-section.centered {
    text-align: center;
}

.Footer .footer-section p {
    margin: 6px 0;
    line-height: 1.6;
}

.Footer .footer-section.right a {
    height: fit-content;
    margin-top: 1.3em;
}


/* Blurb Section */
.Footer .footer-blurb {
    margin: 20px auto;
    max-width: 1200px;
    text-align: center;
    font-size: 12px;
    line-height: 1.5;
}

.Footer .footer-blurb p {
    margin: 0;
    padding: 0 10px;
}

.Footer .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--dss-black);
    padding-top: 20px;
    margin-top: 40px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.Footer .footer-bottom p {
    margin: 0;
    font-size: 12px;
}

/* Responsive layout for smaller screens */
@media (max-width: 768px) {
    .Footer .footer-content {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .Footer .footer-bottom {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}